// ---------------------------------------------------------
// Mixins
// ---------------------------------------------------------

@mixin hover {
    &:hover, &:focus {
        @content;
    }
}

@mixin group {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

