// ---------------------------------------------------------
// Pages
// ---------------------------------------------------------

@use '../global' as *;

.hero{
    background-image: url('../img/hero.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    padding: rem(52) rem(32) rem(32);
    text-align: center;

    &__pretext{
        font-size: rem(14);
    }

    &__title{
        font-size: rem(32);
        font-weight: 700;
        margin: rem(10) 0 rem(14);
        color: color(secondary, base);
    }

    &__text{
        line-height: rem(20);

        &__space{
            margin-bottom: rem(14);

            span{
                color: color(accent, base);
            }
        }
    }

    @include breakpoint('md'){
        display: flex;
        align-items: center;
    }
}

.last{
    padding: 0 rem(32) rem(32);
    text-align: center;

    &__title{
        font-size: rem(20);
        font-weight: 700;
        margin: rem(10) 0 rem(14);
        color: color(secondary, base);
    }

    &__content{
        &__text{
       
            &__text{
                line-height: rem(20);
                font-weight: 400;
                
                &__space{
                    margin-bottom: rem(14);
                }
            }
        }
    }
}