// ---------------------------------------------------------
// Components - BUTTONS
// ---------------------------------------------------------

@use '../global' as *;

.btn{
    padding:  rem(16) rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    width: fit-content;
    transition: all .2s ease-in-out;
    cursor: pointer;
    
    &.outlined{


        &-secondary{
            border: rem(3) solid color(secondary, base);
            background: none;
            color: color(secondary, base);
            margin: auto;
            font-size: rem(20);
            font-weight: 700;

            &:hover{
                background: color(secondary, 500);
            }
        }

    }
}